body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: scroll;
  background: url(https://img.freepik.com/free-photo/vegetables-set-left-black-slate_1220-685.jpg?w=2000&t=st=1695243492~exp=1695244092~hmac=d08037ed35c9243e18255c5b28020d82150717d1d1da7b636d399aa9159972ca) no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
